*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header-container,.footer-container{
  background-color: #00A2E1;
  color:white;
  height:50px;
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-container{
  background-color: #E5E5E5;
  min-height:100vh;
  padding:20px;
}




