

.cart-container {
    display: grid;
    grid-template-columns: 120px 200px auto auto auto;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    max-width: 800px;
    padding: 40px;
    margin: auto;
    background: #fff;
    border-bottom: 2px solid #D9D9D9;
}

.popup {
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.9;
    background: grey;
}

.popup-card {
    display: flex;
    height: calc(100vh - 80px);
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.popup-card-content {
    height: 200px;
    width: 260px;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.popup-card-title {
    text-align: center;
    font-size: 24px;
}

.popup-card-subtitle {
    text-align: center;
}


.popup-card-button {
    display: block;
    margin: auto;
    background: #FFD814;
    border: 0px;
    padding: 0px 20px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    color: #000;
}