/* root */

:root {
    background-color: rgb(244 248 254);
        --color-var: lavender;
        --medium-gray: #7a88ba;
        --medium-blue: rgb(228 239 252);
        --frog-green: #62d76b;
        font-family: 'Rubik', sans-serif;
        color: rgb(62 65 109);
}

* {
    margin: 0;
    padding: 0;  
}

/* body */

body {
    margin: 50px;
}

.meme_o {
    text-decoration: none;
    font-size: 20pt;
    color: inherit;
}

header {
    /* Uncomment below to demo flex */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 0 50px 0;
    /* top - right - bottom - left */
}

.header-text {
    margin: 10px 0;
    /* vertically - horizontally */
}

img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

.prework {
    color: var(--frog-green);
}

.description {
    color: var(--medium-gray);
}

/* nav */

nav {
    /* Uncomment below to demo flex */
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 0 10px 0;
}

nav > a {
   margin-left: 20px; 
   text-decoration: none;
   color: var(--medium-gray);
} 

/* nav a:nth-child(3) {

} */

.btn {
    background-color: var(--medium-blue);
    border-radius: 15px;
    padding: 8px;
}

nav .jump {
    color: #0078e6;
}

/* article / item */

/* Uncomment below to demo flex */
.content {
    display: flex;
}

.items {
    width: 70%;
    margin-left: 10px;
}

.item {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.item-p {
    padding: 17px 20px 0;
    margin-bottom: 5px;
    color: var(--frog-green);
}

.item-title {
    border-bottom: solid 2px var(--frog-green);
    margin: 0 20px;
    padding-bottom: 10px;
}

.item > ul {
    margin: 15px 0 15px 45px;
}

.item li {
    padding-bottom: 10px;
}

.item .btn {
    background-color: var(--frog-green);
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

/* aside */

.aside {
    /* without the `width: 30%`, it'll be set to `width: auto` and takes up more than 30% */
    width: 30%; 
    height: 40%;
    /* if height gets assigned with 'px,' i.e. 350px, the text might overflow depending on the size of the browser and would look less responsive */
    background-color: white;
    border-radius: 15px;
    margin: 0 25px;
    padding: 50px 20px;
}

aside>.aside-prework {
    color: #0078e6;
}

/* food */

footer {
    /* Uncomment below to demo flex */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    background-color: var(--color-var)
}

footer>div>a {
    text-decoration: none;
}