html, body {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}


.container{
  background-color:yellow;
  height:650px;
  display:flex;
  align-items:center; 
  justify-content:center;
  flex-direction:column;
/*   flex-wrap: wrap; */
}
.item{
  width: 120px;
  height:120px;
  color: white;
  text-align:center;
}
.item-one{
  background-color:green;
/*   margin:50px; */
  padding:20px;
/*   border:solid 2px black; */
}
.item-two{
  background-color:red;
}
.item-three{
  background-color:purple;
}


.container-one,.container-two,.container-three{
  margin:10px;
  display:flex;
}
.container-two{
  flex-direction:row-reverse;
}

.container-one{
  display:flex;
  justify-content:space-between;
/*   background-color:pink; */
  width:80%;
}